.wide_box {
    height: 2em;
    padding: 0 3px;
    overflow: hidden;
    display: flex;
}

input {
    padding: 0 10px;
    font-size: 16px;
    color: green;
    display: flex;
    width: 100%;
}

input:hover {
    color: red;
}

button {
    height: 2em;
    float: right;
    font-size: 16px;
    padding: 0 10px;
    display: flex;
    color: green;
}
button:hover {
    color: red;
}

h1 {
    text-align: center;
}
