@media screen and (min-width: 320px){
    .html{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .block{
        height: 150px;
        width: 100%;
        border: 2px solid grey;
        margin-left:5%;
        margin-right: 5px;
        margin-top: 30px;
    }

    .pblock{
        height: 700px;
        width: 100%;
        border: 2px solid grey;
        margin-left:5%;
        margin-right: 5px;
        margin-top: 30px;
    }

}

@media screen and (min-width: 768px){
    .html{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .block{
        height: 150px;
        width: 40%;
        border: 2px solid grey;
        margin-left:5%;
        margin-right: 5px;
        margin-top: 30px;
    }


    .pblock{
        height: 850px;
        width: 40%;
        border: 2px solid grey;
        margin-left:5%;
        margin-right: 5px;
        margin-top: 30px;
    }
}

@media screen and (min-width: 1024px){
    .html{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .block{
        height: 220px;
        width: 15%;
        margin-left:3%;
        margin-right: 5px;
        margin-top: 30px;
        border: 2px solid grey;
    }
    .pblock{
        height: 1400px;
        width: 18%;
        border: 2px solid grey;
        margin-left:5%;
        margin-right: 5px;
        margin-top: 30px;
    }
}
