h1 {
    font-size: 35px;
    text-align: center;
}

img {
    margin-left: 30px;
    margin-top: 45px;
}

select {
    padding-left: 10px;
    color: gray;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(48, 48, 48);
    border: 2px solid gray;
    font-size: 15px;
}

span {
    margin-left: 20px;
}

.check {
    display: none;
}

select:focus {
    outline: none;
}

#first_label {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 25px;
    height: 25px;
    padding-top: 2px;
    color: rgb(48, 48, 48);
    background-color: rgb(48, 48, 48);
    font-size: 18px;
}

#second_label {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 25px;
    height: 25px;
    padding-top: 2px;
    margin-left: 20px;
    color: rgb(48, 48, 48);
    background-color: rgb(48, 48, 48);
    font-size: 18px;
}

input[type="range"] {
    outline: none;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
    -webkit-appearance: none;
    width: 40%;
  }
  

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: rgb(71, 191, 161);
    border-radius: 50%;
    margin-top: -8px;
  }
  

input[type=range]::-webkit-slider-runnable-track {
    background-color: rgb(64, 71, 80);
    height: 2px;
}

#check1:checked ~ #first_label {
    color: rgb(71, 191, 161);
}

#check2:checked ~ #second_label {
    color: rgb(71, 191, 161);
}

.main {
    background: rgba(39, 39, 40, 0.995);
    color: white;
    width: 1160px;
    height: 800px;
    margin-left: 100px;
}

.settings {
    margin-top: 20px;
    margin-left: 10px;
    background: rgb(61, 62, 63);
    display: inline-block;
    border: 4px solid gray;
    width: 1000px;
    height: 740px;
    color: white;
}

.right {
    padding-left: 30px;
    padding-top: 40px;
    font-size: 20px;
    color: gray;
    margin-top: 10px;
    margin-left: 10px;
    width: 550px;
    height: 720px;
    display: inline-block;
}

.left {
    padding-left: 30px;
    padding-top: 40px;
    font-size: 20px;
    color: gray;
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
    position: absolute;
    width: 400px;
    height: 720px;
}

.tools {
    background: rgb(48, 48, 48);
    position: absolute;
    display: inline-block;
    margin-top: 100px;
    width: 130px;
    height: 500px;
    border-radius: 25px;
    border-left: none;
}

#first_color {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 35px;
    height: 32px;
    border-radius: 25px;
    padding-top: 2px;
    color: blue;
    background-color: blue;
    font-size: 18px;
}

#second_color {
    margin-left: 15px;
    position: relative;
    display: inline-block;
    text-align: center;
    width: 35px;
    height: 32px;
    border-radius: 25px;
    padding-top: 2px;
    color: green;
    background-color: green;
    font-size: 18px;
}

#third_color {
    margin-left: 15px;
    position: relative;
    display: inline-block;
    text-align: center;
    width: 35px;
    height: 32px;
    border-radius: 25px;
    padding-top: 2px;
    color: red;
    background-color: red;
    font-size: 18px;
}

#fourth_color {
    margin-left: 15px;
    position: relative;
    display: inline-block;
    text-align: center;
    width: 35px;
    height: 32px;
    border-radius: 25px;
    padding-top: 2px;
    color: purple;
    background-color: purple;
    font-size: 18px;
}

#fifth_color {
    margin-left: 15px;
    position: relative;
    display: inline-block;
    text-align: center;
    width: 35px;
    height: 32px;
    border-radius: 25px;
    padding-top: 2px;
    color: orange;
    background-color: orange;
    font-size: 18px;
}

#check3:checked ~ #first_color {
    color: white;
}

#check4:checked ~ #second_color {
    color: white;
}

#check5:checked ~ #third_color {
    color: white;
}

#check6:checked ~ #fourth_color {
    color: white;
}

#check7:checked ~ #fifth_color {
    color: white;
}



.switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(51 58 65);
    -webkit-transition: .3s;
    transition: .3s;
}

.slider::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(118 183 166);
    -webkit-transition: .3s;
    transition: .3s;
}

input:checked + .slider {
    background-color: rgb(90 149 229);
}

input:checked +.slider::before {
    -webkit-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round::before {
    border-radius: 50%;
}