h1 {
    font-size: 54px;
    text-align: center;
}

.circle {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background: green;
    animation: moving 10s linear infinite;
}

.circle:hover {
    transition: 2s;
    background: red;
}

@keyframes moving {
    0%{
        margin-left: 0%;
    }
    50%{
        margin-left: calc(100% - 10%);
    }
    100%{
        margin-right: 0%;
    }
}
